.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #096341;
  padding: 0.5rem;
  width: 100%; /* Ustawienie szerokości na 100% */
}

.navbar-brand {
  font-size: 1.25rem;
  text-decoration: none;
  color: #000;
  display: flex;
  align-items: center;
}

.navbar-collapse {
  display: flex;
  align-items: center;
}

.navbar-form {
  display: flex;
  align-items: center;
  margin-left: 1rem;
}

.navbar-form input {
  margin-left: 0.5rem;
}

.navbar-dropdown {
  margin-left: 1rem;
  position: relative;
}

.navbar-dropdown-toggle {
  background: white;
  border: none;
  cursor: pointer;
  margin: 2px;
}

.navbar-dropdown-menu {
  display: none;
  position: absolute;
  right: 0;
  background-color: #fff;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  margin-top: 0.5rem;
  list-style: none;
  padding: 0;
}

.navbar-dropdown-menu.show {
  display: block;
}

.navbar-dropdown-item {
  padding: 0.5rem 1rem;
  text-decoration: none;
  color: #000;
  display: block;
}

.navbar-dropdown-item:hover {
  background-color: #f1f1f1;
}

button {
  background-color: white;
  margin: 5px;
}

#token-input {
  height: 2.8rem;
  width: 8rem;
  border-radius: 12px;
  margin: 3px;
  text-align: center;
}

#logo-buk {
  height: 60px;
  width: 60px;
  text-align: center;
  margin-right: 10px;
}

#buk-name {
  margin: 0;
  margin-right: 10px;
}
  