.container-main{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: 90vh;
    justify-content: space-between;
    box-sizing: border-box;
}
.sports-column{
    float: left;
    margin: 15px;
    height: 100%;
    width: 18%;
    text-align: center;
    color: black;
    flex: 1;
    padding: 10px;
    background-color: #096341;
    border-radius: 7px;
}
.coupon-column{
    float: left;
    margin: 15px;
    height: 100%;
    width: 18%;
    text-align: center;
    color: black;
    flex: 1;
    padding: 10px;
    background-color: #096341;
    border-radius: 7px;
}
.main-column{
    width: 64%;
    margin: 15px;
    height: 100%;
    text-align: center;
    color: black;
    flex: 1;
    padding: 10px;
    background-color: #096341;
    border-radius: 7px;
} 

.choose-btn{
    cursor: pointer;
}