header {
    text-align: center;
    margin: 5rem 0;
  }
  
  header img {
    height: 20rem;
    width: 20rem;
    object-fit: cover;
    border-radius: 7px;
    box-shadow: 10px 7px 5px black;
  }
  
  header h1 {
    margin: 0;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 5rem;
    background: linear-gradient(40deg, #8e0a9a, #8e0a9a, #0433de, #0433de);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    filter: drop-shadow(0 2px 8px rgba(0, 0, 0, 0.5));
  }
  button{
    margin: 10px;
    height: 3rem;
    width: 8rem;
    background: #19a56f;
    border-radius: 15px;
    box-shadow: 5px 3px 5px black;
  }